.navbar{
    padding: 0 30px;
}
.nav-icon{
    height: 60px;
    cursor: pointer;
}
.nav-links{
    width:fit-content;
    gap: 50px;
    height: fit-content;
}.nav-links>li{
    font-weight:600;
}
.nav-links>li:hover{
    color: #3F5950;
    cursor: pointer;
}
.nav-book{
    text-decoration: none;
    color: black;
}
.big-screen-icons{
    display: contents;
}
.cross-icon{
    display: none;
}
@media screen and(max-width:970px) {
    .nav-links{
        width: 100% !important;
    }
}
@media screen and (max-width:576px) {
    .navbar{
        padding: 0 !important;
    }
    .burger-icon{
        display: block;
        margin-right: 10px;
        font-size: 25px;
        color: #233d34;
    }
    .nav-links{
        display: none !important;
    }
    .display-nav{
        position: absolute ;
        top:0;
        width: 100%;
        display: flex !important;
        flex-direction: column;
        gap: 10px;
        justify-content: center;
        align-items: center;
        padding-top: 40px;
        background-color: #2e4d42;
    }
    .display-nav>li,.display-nav>li>.nav-book{
        width: fit-content;
        margin: 10px 0;
        font-weight: 500;
        color: white;
    }
    .display-nav>li:hover{
        color: white;
    }
    .cross-icon{
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 20px;
    }
}