.special-card{
    width: 25%;
    min-width: 280px;
    padding: 10px;
    margin: 10px;
    background-color: #EDEFEE;
    border-radius: 10px;
}
.special-head{
    margin: 5px 0px;
}
.special-card>p{
    margin: 10px 0px;
}
.card-img{
    width: 100%;
}


@media screen and (max-width:576px) {
    .special-card{
        width: 80%;
        margin: 10px 0;
    }
    .special-head>h4{
        font-size: 15px;
    }
    .special-head>span{
        font-size: 13px;
    }
    .special-card>p{
        font-size: 14px;
    }
    .special-card>span{
        font-size: 14px;
        font-weight: 600;
    }
    .higlight-head{
        padding: 0 !important;
        justify-content: space-evenly !important;
    }
    .higlight-head>h1{
        font-size: 20px;
    }
    .highlights-btn{
        font-weight: 600 !important;
        font-size: 10px;
        padding: 5px 10px !important;
    }
}