.hero-div{
    background-color: #3F5950;
    padding: 30px 20px ;
    height: 70vh;
    justify-content: space-around;
}
.hero-txt{
    width: 40%;
    align-items: flex-start !important;
}
.hero-txt>h1{
    color: #A98D06;
}
.hero-txt>h1,.hero-txt>h2{
    margin: 5px 0px;
}
.hero-txt>h2,.hero-txt>p{
    color: #FFFFFF;
}
.hero-txt>p{
    width: 90%;
    margin: 8px 0;
    font-size: 20px;
}
.hero-btn-div{
    margin: 20px 0px;
    font-size: 15px;
    font-weight: 600;
}
.hero-img{
    background:url('../../assets/homeImg/banner.png');
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 300px;
    border-radius: 20px;
    box-shadow: rgb(48, 48, 48) 2px 2px 25px 10px;
}

@media screen and (max-width:576px){
    .hero-div{
        flex-direction: column-reverse;
        align-content: center;
        justify-content: center;
        padding: 40px 0;
        height: 80vh;
        height: fit-content;
    }
    .hero-txt{
        text-align: center;
        width: 100%;
        margin: 0 auto;
        padding: 5px ;
    }
    .hero-txt>h1{
        text-align: center;
        font-size: 25px;
        width: 100%;
    }
    .hero-txt>h2{
        width: 100%;
        font-size: 20px;
        text-align: center;
        font-weight: 500;
    }
    .hero-txt>p{
        width: fit-content;
        font-size: 16px;
        margin: 0 auto;
        font-weight: 500;
    }
    .hero-img{
        margin: 0 auto;
        width: 70%;
        height: 280px;
        margin-bottom: 20px;
        box-shadow: rgb(14, 13, 13) 2px 2px 30px 8px;
    }
    .hero-btn-div{
        width: 100%;
        margin: 25px 0;
    }
    .hero-btn{
        font-size: 15px ;
        padding: 5px 15px !important;
    }
}