.review-card{
    width: 20%;
    min-width: 280px;
    background-color: #D9D9D9;
    padding: 20px;
    margin: 0px 5px;
    border-radius: 5px;
}
.review-card>h3{
    margin: 5px 0;
}
.ratings-star{
    margin: 0 2px;
}
.review-card>p{
    margin: 5px 0px;
}
.review-card>h4{
    margin: 5px 0px;
}
.review-img{
    height: 70px;
    width: 100px;
    border-radius: 100px;
}

@media screen and (max-width:576px) {
    .review-card{
        width: 80%;
        margin: 10px 0;
        padding: 10px 0;
    }
}