*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;;
}
/*
fonts
font-family: 'Inter', sans-serif;
*/
li{
    text-decoration: none;
    list-style: none;
}
.row{
    display: flex;
    justify-content: center;
    align-items: center;
}
.row-sb{
    display: flex;
    justify-content: space-between;
}
.row-se{
    display: flex;
    justify-content: space-evenly;
}
.col{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.col-sb{
    align-content: space-between;
}
.pad-10-percent{
    padding: 0px 10%;
}
.pad-20-percent{
    padding: 0 20%;
}
.btn{
    background-color: #F4CE14;
    padding: 10px 20px;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.br-20{
    border-radius: 10px;
}
.wid-70{
    width: 60%;
    margin: 0px auto;
}
.wid-fit{
    width: fit-content;
}
p{
    font-size: 16px;
}
html::-webkit-scrollbar{
    width: 5px;
}
html::-webkit-scrollbar-thumb{
    background-color: #045035;
    border-radius: 30px;
}